<!--<div class="preloader">-->
<!--  <div class="lds-ripple">-->
<!--    <div class="pl-spark-1 pl-spark-2"></div>-->
<!--  </div>-->
<!--</div>-->

<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>بارهای من</h2>
      <ul>
        <li>
          <a href="index.html">خانه </a>
        </li>
        <li class="active">بارهای من</li>
      </ul>
    </div>
  </div>
  <div class="shape shape-1">
    <img src="assets/images/page-title-shape-1.png" alt="Image" />
  </div>
  <div class="shape shape-2">
    <img src="assets/images/page-title-shape-2.png" alt="Image" />
  </div>
</div>
<div class="page-title">
  <div class="container bg-white">
    <div class="py-4 text-center">
      <a href="/request-quote" class="default-btn mx-1 text-center">ثبت بار جدید</a>
    </div>
    <div class="p-4">
      <mat-tab-group  mat-stretch-tabs>
        <mat-tab label="درجریان جذب">
          <div style="height: 440px;">
            <ng-container *ngFor="let reqitem of notAcceptedRequestsList">
              <div class="container bg-white mylist">
                <div class="p-4 row">
    
                  <!-- DIS -->
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/destination2.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            مبدا: <span><b style="font-size: 18px;font-weight: bolder;">{{reqitem.origin}}</b></span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/destination1.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            مقصد:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.destination}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/loadingdate1.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            تاریخ بارگیری:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.loading_date}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/unloadingdate.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            تاریخ تخلیه:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.unloading_date}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/info.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            نوع بار:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.load_type}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/weight.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            تناژ:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.weight}}</b>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <!-- Button -->
                  <div class="col-sm-3 pt-1">
                    
                    <button class="btn btn-danger btn-sm py-3 col-12  mb-3" > ویرایش درخواست </button>
                    <button class="btn btn-success btn-sm col-12 py-3">لغو درخواست</button>
                  </div>
    
    
                </div>
              </div>
            </ng-container>
          </div>
        </mat-tab>
        <mat-tab label="آماده بارگیری">
          <div style="height: 440px;">
            <ng-container *ngFor="let reqitem of AcceptedRequestsList">
              <div class="container bg-white mylist">
                <div class="p-4 row">
    
                  <!-- DIS -->
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/destination2.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            مبدا: <span><b style="font-size: 18px;font-weight: bolder;">{{reqitem.origin}}</b></span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/destination1.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            مقصد:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.destination}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/info.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            نوع بار:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.load_type}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/status.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            وضعیت درخواست:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.trip_status}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/driver.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            راننده:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.driverName}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/phone.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            شماره تماس راننده:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.driverPhone}}</b>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <!-- Button -->
                  <div class="col-sm-3 pt-1">
                    <button class="btn btn-danger btn-sm py-3 col-12  mb-3" (click)="showTripDetails(reqitem.trip_id)" >جزئیات</button>
                  </div>
    
    
                </div>
              </div>
            </ng-container>
          </div>
        </mat-tab>
        <mat-tab label="تحویل شده">
          <div style="height: 440px;">
            <ng-container *ngFor="let reqitem of FinishedRequestsList">
              <div class="container bg-white mylist">
                <div class="p-4 row">
    
                  <!-- DIS -->
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/destination2.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            مبدا: <span><b style="font-size: 18px;font-weight: bolder;">{{reqitem.origin}}</b></span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/destination1.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            مقصد:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.destination}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/info.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            نوع بار:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.load_type}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/status.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            وضعیت درخواست:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.trip_status}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/driver.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            راننده:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.driverName}}</b>
                            </span>
                        </div>
                      </div>
                      <div class="col-sm-6 py-2 row">
                        <div class="col-2" style="text-align: left;">
                          <i>
                            <img src="../../../../assets/images/phone.png" alt="" style="max-width:none; width: 40px;vertical-align: middle;">
                          </i>
                        </div>
                        <div class="col-10" style="margin-right: -15px;">
                          <p style="font-size: 18px;">
                            شماره تماس راننده:
                            <span>
                              <b style="font-size: 18px;font-weight: bolder;">{{reqitem.driverPhone}}</b>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <!-- Button -->
                  <div class="col-sm-3 pt-1">
                    <button class="btn btn-danger btn-sm py-3 col-12  mb-3" (click)="showTripDetails(reqitem.trip_id)">جزئیات</button>
                  </div>
    
    
                </div>
              </div>
            </ng-container>
          </div>
        </mat-tab>
        <mat-tab label="پیام ها">
          <ng-container *ngFor="let item of [1,2]">
            <div class="container bg-white mylist">
              <div class="p-4 row">
                <div class="col-sm-9">
                  <div class="row">
                    <div class="row col-sm-6 py-2">
                      <mat-icon class="col-3 ">account_circle</mat-icon>
                      <p class="p-0 col-9">
                        تاریخ بارگیری : <span><b>شکستنی</b></span>
                      </p>
                    </div>
                    <div class="row col-sm-6 py-2">
                      <mat-icon class="col-3">new_releases</mat-icon>
                      <p class="p-0 col-9">
                          نوع بار : <span><b>شکستنی</b></span>
                     </p>
                  </div>
                    
                    <div class="row col-sm-12 py-2">
                      <mat-icon class="col-3 text-info">access_time</mat-icon>
                      <p class="p-0 col-9">
                        تاریخ بارگیری : <span><b>شکستنی</b></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 pt-1">
                  <button class="btn btn-danger btn-sm py-3 col-12  mb-3"> ارسال پیام </button>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-tab>
        
      </mat-tab-group>
    </div>
  </div>
</div>
