<!--<div class="preloader">-->
<!--  <div class="lds-ripple">-->
<!--    <div class="pl-spark-1 pl-spark-2"></div>-->
<!--  </div>-->
<!--</div>-->

<div class="page-title-area" style="padding-top: 165px;">
  <div class="row px-5">
    <div class="col-3 py-4" 
    style="background-color: white;height: 600px;box-shadow: 0px 2px 6px 0px #0000002b;
    border-radius: 5px;">
      <div class="row mb-5">
        <div class="col-sm-12">
          <ngp-image-picker class="dist-avatar"  [_imageSrc]="initialImage" 
          [_config]="imagePickerConf" ($imageChanged)="onImageChange($event)"></ngp-image-picker>
        </div>
        <div class="col-sm-12">
          <div class="page-title-content pt-4 text-center">
            <h4>داشبورد من</h4>
            <ul>
              <li class="active">{{phone}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="px-4">
        <div class="distpacher-list text-center">
          <a class="text-center" (click)="changeSelected(1)" >جدید</a>
        </div>
        <div class="distpacher-list text-center">
          <a class="text-center" (click)="changeSelected(2)" >قبول شده</a>
        </div>
        <div class="distpacher-list text-center">
          <a class="text-center" (click)="changeSelected(3)" >تحویل شده</a>
        </div>
        <div class="distpacher-list text-center">
          <a class="text-center" (click)="changeSelected(4)" >پیام ها</a>
        </div>
      </div>
    </div>
    <div class="col-9" style="overflow-y: scroll;
    height: 600px;">

    <!-- **************************************** -->
      <div class="page-title" *ngIf="selected==1">
        <ng-container *ngFor="let item of [1,2,3,4,5,6,7]">
          <div class="container bg-white mylist">
            <div class="p-4 row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-4 py-2">
                    <p class="p-0 col-9">
                      مذاکره : <span><b>قابل مذاکره</b></span>
                    </p>
                  </div>
                  <div class="row col-sm-4 py-2">
                    <mat-icon class="col-3 text-warning">calendar_today</mat-icon>
                    <p class="p-0 col-9">
                      تاریخ بارگیری : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  <div class="row col-sm-4 py-2">
                    <mat-icon class="col-3 text-info">location_on</mat-icon>
                    <p class="p-0 col-9">
                      مبدا : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  <div class="col-sm-4 py-2">
                      <p class="p-0 col-9">
                        تاریخ تحویل : <span><b>شکستنی</b></span>
                      </p>
                  </div>
                  <div class="row col-sm-4 py-2">
                    <mat-icon class="col-3 text-warning">calendar_today</mat-icon>
                    <p class="p-0 col-9">
                      تاریخ تحویل : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  
                  <div class="row col-sm-4 py-2">
                    <mat-icon class="col-3 text-danger">location_on</mat-icon>
                    <p class="p-0 col-9">
                      مقصد : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  <div class="col-sm-4 py-2">
                      <p class="p-0 col-9">
                        تاریخ تحویل : <span><b>شکستنی</b></span>
                      </p>
                  </div>
                  <div class="col-sm-4 py-2">
                    <p class="p-0 col-9">
                      تاریخ تحویل : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  
                </div>
              </div>
              <div class="col-sm-3 pt-1">
                <button class="btn btn-danger btn-sm py-3 col-12  mb-3"> جزئیات درخواست </button>
                <button class="btn btn-success btn-sm col-12 py-3">قبول درخواست</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- /////////////////////////////////////////// -->
      <div class="page-title" *ngIf="selected==2">
        <ng-container *ngFor="let item of [1,2]">
          <div class="container bg-white mylist">
            <div class="p-4 row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-4 py-2">
                    <p class="p-0 col-9">
                      مذاکره : <span><b>قابل مذاکره</b></span>
                    </p>
                  </div>
                  <div class="row col-sm-4 py-2">
                    <mat-icon class="col-3 text-warning">calendar_today</mat-icon>
                    <p class="p-0 col-9">
                      تاریخ بارگیری : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  <div class="row col-sm-4 py-2">
                    <mat-icon class="col-3 text-info">location_on</mat-icon>
                    <p class="p-0 col-9">
                      مبدا : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  <div class="col-sm-4 py-2">
                      <p class="p-0 col-9">
                        تاریخ تحویل : <span><b>شکستنی</b></span>
                      </p>
                  </div>
                  <div class="row col-sm-4 py-2">
                    <mat-icon class="col-3 text-warning">calendar_today</mat-icon>
                    <p class="p-0 col-9">
                      تاریخ تحویل : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  
                  <div class="row col-sm-4 py-2">
                    <mat-icon class="col-3 text-danger">location_on</mat-icon>
                    <p class="p-0 col-9">
                      مقصد : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  <div class="col-sm-4 py-2">
                      <p class="p-0 col-9">
                        تاریخ تحویل : <span><b>شکستنی</b></span>
                      </p>
                  </div>
                  <div class="col-sm-4 py-2">
                    <p class="p-0 col-9">
                      تاریخ تحویل : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  
                </div>
              </div>
              <div class="col-sm-3 pt-1">
                <button class="btn btn-danger btn-sm py-3 col-12  mb-3"> جزئیات بار </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- ************************************************ -->
      <div class="page-title py-4" *ngIf="selected==3" 
      style="background-color: white;min-height: 300px;border-radius: 5px;
      box-shadow: 0px 2px 6px 0px #0000002b;">
        <app-dynamic-table [columns]="tab1"></app-dynamic-table>
      </div>
      <!-- ****************************************** -->
      <div class="page-title" *ngIf="selected==4">
        <ng-container *ngFor="let item of [1,2]">
          <div class="container bg-white mylist">
            <div class="p-4 row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="row col-sm-6 py-2">
                    <mat-icon class="col-3 ">account_circle</mat-icon>
                    <p class="p-0 col-9">
                      تاریخ بارگیری : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                  <div class="row col-sm-6 py-2">
                    <mat-icon class="col-3">new_releases</mat-icon>
                    <p class="p-0 col-9">
                        نوع بار : <span><b>شکستنی</b></span>
                   </p>
                </div>
                  
                  <div class="row col-sm-12 py-2">
                    <mat-icon class="col-3 text-info">access_time</mat-icon>
                    <p class="p-0 col-9">
                      تاریخ بارگیری : <span><b>شکستنی</b></span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 pt-1">
                <button class="btn btn-danger btn-sm py-3 col-12  mb-3"> ارسال پیام </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>