<section class="banner-area" style="height: 100vh;">
    <div class="row" style="height: inherit">
      <div class="col-lg-5" style="background-image: url('assets/images/banner/banner-shape-1.png');">
        <div style="margin-top: 30vh; text-align: center">
          <span class="span-index-main">به ماترو خوش آمدید</span>
          <h1 style="padding-top: 80px;font-size: 72px;margin-bottom: 32px;animation: .6s fadeInUpBig;font-weight: 800;">ما شرکت حمل و نقل و تدارکات ماترو هستیم</h1>
          <p style="padding: 20px;">
            صداقت، تجربه و تلاشمان را برای رضایتتان به کار میگیریم زیرا ما عاشق کاری هستیم که برای شما انجام می دهیم.
          </p>
          <div class="banner-btn" *ngIf="!shared.getIsLogin()">
            <a href="/sign-in" class="default-btn mx-1 text-center">
              ورود
            </a>
            <a href="/sign-up" class="default-btn mx-1 text-center">
                عضویت
                <!-- <mat-icon style="font-size: larger;vertical-align: text-bottom;">send</mat-icon> -->

              </a>
          </div>
          
        </div>
      </div>
      <div class="col-lg-7" style="background-image: url('assets/images/banner/banner-bg-3.jpg');">

      </div>
    </div>
</section>


<section class="choose-us-area pt-100 pb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="choose-us-img">
          <img src="assets/images/choose-us/choose-us-img.png" alt="Images" *ngIf="!flag1 && !flag2">
          <img src="assets/images/trucking/trucking-flag-index-image.png" alt="" *ngIf="flag1 && !flag2" style="margin-right: -90px;margin-top: 47px;">
          <img src="assets/images/trucking/trucking-flag-index-image2.png" alt="" *ngIf="!flag1 && flag2" style="margin-right: -90px;margin-top: 47px;">
          <div class="choose-us-shape-1">
            <img src="assets/images/choose-us/choose-us-shape-1.png" alt="Images">
          </div>
          <div class="choose-us-shape-2">
            <img src="assets/images/choose-us/choose-us-shape-2.png" alt="Images">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="choose-us-tab">
          <h2>چرا باید خدمات حمل و نقل و تدارکات ماترو را انتخاب کنید؟</h2>
          <div class="tab products-details-tab">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <ul class="tabs">
                  <li (click)="changFlagToHistory()">
                    تاریخچه ما
                    <mat-icon style="font-size: larger;vertical-align: middle;"> list_alt</mat-icon>
                  </li>
                  <li (click)="changFlagToTarget()">
                    چشم انداز ما
                    <mat-icon style="font-size: larger;vertical-align: middle;">check_circle_outline</mat-icon>
                  </li>
                  <li (click)="changFlagToMission()">
                    ماموریت ما
                    <mat-icon style="font-size: larger;vertical-align: middle;">loyalty</mat-icon>
                  </li>
                </ul>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="tab_content">
                  <div *ngIf="!flag1 && !flag2" class="tabs_item">
                    <div class="choose-tab-item item-1">
                      <p style="text-align: justify">

                        سامانه حمل و نقل بین شهری و بین جاده ای ماترو با سابقه چندین ساله
                         در زمنیه حمل و نقل و باربری، می خواهد این امکان را برای صاحبان بار
                          و رانندگان مهیا کند که بتوانند
                          بدون نیاز به واسطه و دردسر فرایند باربری را انجام بدهند.
                          ماترو نه تنها در بحث حمل و نقل حرفی برای گفتن دارد،
                          بلکه با ارائه اپلیکیشن حمل و نقل بار نیز خود
                          را پیشرو در تکنولوژی و صنعت معرفی کرده است.
                          </p>
                    </div>
                  </div>
                  <div *ngIf="flag1 && !flag2" class="tabs_item">
                    <div class="choose-tab-item item-1">
                      <p style="text-align: justify">
                        سامانه حمل و نقل ماترو در نظر دارد
                         با بهره گيري از امكانات متعدد ، پرسنل تحصيل كرده و
                         آگاه به آخرين روش هاي صنعت حمل و نقل و عضو انجمن شركت هاي حمل و
                         نقل بين المللی ايران و اتاق بازرگاني و صنايع و معادن ايران 
                        خدمات خويش را به صاحبان كالاي وارداتي ، صادراتی و ترانزيت ارائه نمايد.                      </p>
                    </div>
                    <div class="choose-tab-item item-2">
                      <h3>صادرات</h3>
                      <p style="text-align: justify">
                        امید است در آینده نزدیک این سامانه سامانه عضو فياتا شده و 
                        با توجه به سرويس کامیونی به اروپا، روسيه و کشور های CIS 
                        با بهره گيري از انواع كاميون 
                         هاي معمولي و
                         يخچال دار مناسب ترين
                         كرايه
                         و زمان حمل به ايران و بالعكس، آماده ارائه خدمات به صاحبان محترم كالا شود.                      </p>
                    </div>
                    <div class="choose-tab-item item-3">
                      <h3>حمل و نقل هوایی</h3>
                      <p style="text-align: justify">
                        حمل و نقل هوایی از تركيه
                         و كشورهاي CIS به ايران و بالعكس با بهترين پيشنهاد
                         قيمت ، 
                        يكي ديگر از اهداف و چشم انداز های اين سامانه مي باشد.                      </p>
                    </div>
                  </div>
                  <div *ngIf="!flag1 && flag2" class="tabs_item">
                    <div class="choose-tab-item item-1">
                      <p style="text-align: justify">
                        سامانه حمل و نقل بين المللي ماترو با بهره گيري از امكانات متعدد
                         و سيستم اطلاع رساني ، در تمامي مراحل حمل، از تحويل گيري كالا در مبدا تا تحويل در مقصد امكان
                          رهگيري محموله مورد نظر را در هر مرحله فراهم مي سازد.
                        </p>
                    </div>
                    <div class="choose-tab-item item-2">
                      <h3>ترانزيت از طريق بنادر جنوبي</h3>
                      <p style="text-align: justify">
                        سامانه حمل و نقل بين المللي ماترو با استفاده
                         از كاميون هاي چادري و يخچالي آماده ارائه كليه خدمات حمل از مبدا تا مقصد
                          با كمترين هزينه و با تحويل به موقع كالاها می باشد.
                        </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="services-area bg-color pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span>خدمات حمل و نقل</span>
      <h2>چه کاری میتونیم براتون انجام بدیم</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services">
            <img src="assets/images/services/services-1.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services">
              ترانزیت
            </a>
          </h3>
          <p style="text-align: justify">
            سرويس مستقيم به كشورهاي روسيه ، اكراين ، بلاروس و كشور هاي CIS و بالعكس.
          </p>
          <a href="/services" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services">
            <img src="assets/images/trucking/trucking-services-index.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services">
              خرده بار
            </a>
          </h3>
          <p style="text-align: justify">
            سرويس مستقيم و خرده بار از اروپا و تركيه به ايران و بالعكس، به نمايندگي شركت KEY LINE.          </p>
          <a href="/services" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services">
            <img src="assets/images/trucking/trucking-services-index3.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services">
              صادرات
            </a>
          </h3>
          <p style="text-align: justify">
            ترانزيت از طريق بنادر جنوبي به كشورهاي آسياي ميانه و گمركات داخلي کشور و همچنین انجام امور مربوط به صادرات.          </p>
          <a href="/services" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services">
            <img src="assets/images/trucking/trucking-services-index2.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services">
              واردات
            </a>
          </h3>
          <p style="text-align: justify">
            حمل و نقل ريلي از تركيه و كشورهاي CIS به ايران و بالعكس با بهترين پيشنهاد قيمت ، يكي ديگر از خدمات اين شركت مي باشد.          </p>
          <a href="/services" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="logistics-solutions-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="logistics-solutions">
          <h2>ما بهترین راه حل را برای شما ارائه می دهیم</h2>
          <ul>
            <li>
              <i>
                <img src="assets/images/review.png" alt="" style="width: 70%;vertical-align: middle;">
              </i>
              <h3>پیگیری آنلاین سفارش</h3>
              <p>
                سیستم حمل کالا در ماترو طوری طراحی شده است
                 که در هر زمان این 
                امکان وجود داشته باشد
                 که صاحبان بار بتوانند
                 به صورت 
                آنلاین از وضعیت کنونی مرسولات خود آگاهی پیدا کنند
              </p>
            </li>
            <li>
              <i>
                <img src="assets/images/reduce.png" alt="" style="width: 70%;vertical-align: middle;">
              </i>
              <h3>کمترین زمان و هزینه</h3>
              <p>
                سامانه ماترو در کنار کارشناسان زبده داخلی،
                 دارای همکاران و
                  نمایندگان استراتژیک بین‌المللی است که موجب می‌شود
                  فرآیند حمل کالا در کمترین زمان و هزینه صورت پذیرد.              </p>
            </li>
            <li>
              <i>
                <img src="assets/images/garantee.png" alt="" style="width: 70%;vertical-align: middle;">
              </i>
              <h3>تضمین کیفیت خدمات</h3>
              <p>
                سامانه ماترو خدمات خود را در بالاترین
                 سطوح کیفیت 
                 و استانداردهای جهانی به مشتریان ارائه می‌کند و در
                  این میان کیفیت بالای ارائه خدمات خود را تضمین می‌کند.              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-7">
        <img src="assets/images/trucking/top-trucks7.jpg" alt="" style="max-width: none;width: 90vh;margin-top: 7vh;">
      </div>
    </div>
  </div>
</section>


<section class="counter-area bg-color pt-100 pb-70">
  <div class="container">
    <div class="counter-bg">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/driver.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <p style="font-size: 52px;">{{this.driverNum}}</p>
              </h2>
              <h4>راننده</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/truck.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <p style="font-size: 52px;">{{this.carrierNum}} +</p>
              </h2>
              <h4>وسایل نقلیه</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/cargo-delivary.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <p style="font-size: 52px;">{{this.tripNum}}+ </p>
              </h2>
              <h4>تحویل در سال</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/costumer.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <p style="font-size: 52px;">{{this.applicantNum}}</p>
              </h2>
              <h4>مشتری های راضی</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="testimonials-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>بازخورد مشتریان</span>
      <h2>آنچه مردم درباره ما می گویند</h2>
    </div>
    <div class="testimonials-slider owl-carousel owl-theme">
      <div *ngIf="!testFlag1 && !testFlag2" class="single-testimonials">
        <i>
          <img src="assets/images/icon/double-quotes.png" alt="" style="width: 7vh;">
        </i>
        <p>
          حدود دو سال است که از خدمات سامانه ماترو استفاده میکنم و به نظرم یکی از با کیفیت ترین سیستم های موجود در رابطه با حمل و نقل و مسئله ترانزیت هست که باعث شده فرایند ارسال بار برای من آسون تر بشه.
        </p>
        <img src="assets/images/testimonials/testimonials-1.jpg" alt="Images" style="width: 10%;">
        <div class="testimonials-title">
          <h3>صالح رضایی</h3>
          <span>کاربر</span>
        </div>
      </div>
      <div *ngIf="testFlag1 && !testFlag2" class="single-testimonials">
        <i>
          <img src="assets/images/icon/double-quotes.png" alt="" style="width: 7vh;">
        </i>
        <p>
استفاده از خدمات سامانه ماترو رو به همه پیشنهاد میکنم تجربه کار با این سیستم فوق العاده هست و باعث میشه که دیگه به فرایند ارسال بار به مقصد فکر نکنین چون به راحتی این امکان فراهم شده.        </p>
        <img src="assets/images/testimonials/testimonials-2.jpg" alt="Images" style="width: 10%;">
        <div class="testimonials-title">
          <h3>فرشید حسنی</h3>
          <span>کاربر</span>
        </div>
      </div>
      <div *ngIf="!testFlag1 && testFlag2" class="single-testimonials">
        <i>
          <img src="assets/images/icon/double-quotes.png" alt="" style="width: 7vh;">
        </i>
        <p>
ارسال بار به سراسر ایران دیگه فرایند پیچیده و مشکی نیست چون سامانه ماترو امکاناتی رو برای صاحبان بار فراهم کرده که میتونن بدون دغدغه بار های خودشون رو به سراسر ایران ارسال کنن. البته این امکانات برای راننده ها هم بسیار مفید بوده چون دیگه لازم نیست برای پیدا کردن بار و پیشنهاد مناسب ساعت ها منتظر بمونن.        </p>
        <img src="assets/images/testimonials/testimonials-3.jpg" alt="Images" style="width: 10%;">
        <div class="testimonials-title">
          <h3>رضا محمودی</h3>
          <span>کاربر</span>
        </div>
      </div>
    </div>
    <div style="text-align: center;margin-top: 20px;">
      <i>
        <button (click)="changTestFlagToNext()" style="margin-left:2px;text-align: left;width: 2vh;background-color: white;border: none;"><img src="assets/images/icon/arrow-right.png" alt="" style="" ></button>
      </i>
      <i>
        <button (click)="changTestFlagToPrevious()" style="margin-right:2px;text-align: right;width: 2vh;background-color: white;border: none;"><img src="assets/images/icon/arrow-left.png" alt="" style="" ></button>
      </i>
    </div>
  </div>
</section>

