<!--<div class="preloader">-->
<!--  <div class="lds-ripple">-->
<!--    <div class="pl-spark-1 pl-spark-2"></div>-->
<!--  </div>-->
<!--</div>-->


<header class="header-area header-area-style-two">
  <div class="top-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <ul class="header-left-content">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <img src="assets/icons/facebook1.svg" style="width: 35px;">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <img src="assets/icons/instagram1.svg" style="width: 35px;">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <img src="assets/icons/twitter1.svg" style="width: 35px;">
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header-right-content">
            <ul class="my-account">
              <li>
                <a class="dropdown-control">
                  <mat-icon class="personal-mat-icon" style="color: #f76649;font-size: larger;vertical-align: -moz-middle-with-baseline">account_circle</mat-icon>
                  حساب من
                  <mat-icon style="font-size: large;vertical-align: -moz-middle-with-baseline">arrow_drop_down</mat-icon>
                </a>
                <ul class="my-account-link">
                  <li>
                    <a href="/sign-in" >ورود</a>
                  </li>
                  <li>
                    <a href="/sign-up" >عضویت</a>
                  </li>
                  <li>
                    <a href="/request-quote" >درخواست نقل قول</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="languages-switcher">
              <mat-icon class="personal-mat-icon" style="color: #f76649;font-size: larger;vertical-align: -moz-middle-with-baseline">language</mat-icon>
              <select>
                <option value="1">فارسی</option>
                <option value="2">العربيّة</option>
                <option value="3">Deutsch</option>
                <option value="4">Português</option>
                <option value="5">简体中文</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-area navbar-area-style-two">
    <div class="mobile-responsive-nav">
      <div class="container">
        <div class="mobile-responsive-menu">
          <div class="logo">
            <a href="">
              <img src="assets/images/trucking-logo.png" alt="Image" style="width: 140px">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop-nav">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light" style="height: 70px;">
          <a class="navbar-brand" href="/">
            <img src="assets/images/trucking-logo.png" alt="Image" style="width: 140px">
          </a>
          <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  خانه
                  <i class="ri-arrow-down-s-line"></i>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/about" class="nav-link">درباره ما</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  خدمات
                  <mat-icon style="font-size: large;vertical-align: -moz-middle-with-baseline">arrow_drop_down</mat-icon>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="/services" class="nav-link">خدمات</a>
                  </li>
                  <li class="nav-item">
                    <a href="/services-details" class="nav-link">جزئیات خدمات</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  صفحات
                  <mat-icon style="font-size: large;vertical-align: -moz-middle-with-baseline">arrow_drop_down</mat-icon>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="/about"  class="nav-link">تیم</a>
                  </li>
                  <li class="nav-item">
                    <a href="/gallery" class="nav-link">گالری</a>
                  </li>
                  <li class="nav-item">
                    <a  href="/faqs" class="nav-link">سوالات متداول</a>
                  </li>
                  <li class="nav-item">
                    <a href="/testimonials" class="nav-link">بازخورد مشتریان </a>
                  </li>
                  <li class="nav-item">
                    <a href="/privacy-policy" class="nav-link">حریم خصوصی</a>
                  </li>
                  <li class="nav-item">
                    <a href="/terms-conditions" class="nav-link">قوانین و ضوابط</a>
                  </li>
                  <li class="nav-item">
                    <a href="/404" class="nav-link">خطای 404</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link active">تماس با ما</a>
              </li>
            </ul>
            <div class="others-options">
              <ul>
                <li>
                  <a href="tel:+98-(912)-241-1361" class="default-btn">
                    <span>
                      024-33051
                      <i class="ri-phone-fill"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="others-option-for-responsive">
      <div class="container">
        <div class="dot-menu">
          <div class="inner">
            <div class="circle circle-one"></div>
            <div class="circle circle-two"></div>
            <div class="circle circle-three"></div>
          </div>
        </div>
        <div class="container">
          <div class="option-inner">
            <div class="others-option justify-content-center d-flex align-items-center">
              <ul>
                <li>
                  <a href="tel:+1-(514)-312-5678" class="default-btn">
                    <span>
                      021-12345678
                      <i class="ri-phone-fill"></i>
                      </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>


<section class="banner-area" style="height: 100vh;">
    <div class="row" style="height: inherit">
      <div class="col-lg-5" style="background-image: url('assets/images/banner/banner-shape-1.png');">
        <div style="margin-top: 30vh; text-align: center">
          <span class="span-index-main">به ماترو خوش آمدید</span>
          <h1 style="padding-top: 80px;font-size: 72px;margin-bottom: 32px;animation: .6s fadeInUpBig;font-weight: 800;">ما شرکت حمل و نقل و تدارکات ماترو هستیم</h1>
          <p style="padding: 20px;">لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
          <div class="banner-btn">
            <a href="/request-quote" class="default-btn">
            <span>
              درخواست نقل قول
              <mat-icon style="font-size: larger;vertical-align: text-bottom;">send</mat-icon>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-7" style="background-image: url('assets/images/banner/banner-bg-3.jpg');">

      </div>
    </div>
</section>


<section class="choose-us-area pt-100 pb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="choose-us-img">
          <img src="assets/images/choose-us/choose-us-img.png" alt="Images" *ngIf="!flag1 && !flag2">
          <img src="assets/images/trucking/trucking-flag-index-image.png" alt="" *ngIf="flag1 && !flag2" style="margin-right: -90px;margin-top: 47px;">
          <img src="assets/images/trucking/trucking-flag-index-image2.png" alt="" *ngIf="!flag1 && flag2" style="margin-right: -90px;margin-top: 47px;">
          <div class="choose-us-shape-1">
            <img src="assets/images/choose-us/choose-us-shape-1.png" alt="Images">
          </div>
          <div class="choose-us-shape-2">
            <img src="assets/images/choose-us/choose-us-shape-2.png" alt="Images">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="choose-us-tab">
          <h2>چرا باید خدمات حمل و نقل و تدارکات ماترو را انتخاب کنید؟</h2>
          <div class="tab products-details-tab">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <ul class="tabs">
                  <li (click)="changFlagToHistory()">
                    تاریخچه ما
                    <mat-icon style="font-size: larger;vertical-align: middle;"> list_alt</mat-icon>
                  </li>
                  <li (click)="changFlagToTarget()">
                    چشم انداز ما
                    <mat-icon style="font-size: larger;vertical-align: middle;">check_circle_outline</mat-icon>
                  </li>
                  <li (click)="changFlagToMission()">
                    ماموریت ما
                    <mat-icon style="font-size: larger;vertical-align: middle;">loyalty</mat-icon>
                  </li>
                </ul>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="tab_content">
                  <div *ngIf="!flag1 && !flag2" class="tabs_item">
                    <div class="choose-tab-item item-1">
                      <p style="text-align: justify">شرکت در تاریخ 1348/02/24 و تحت شماره 13150 در اداره ثبت شرکتهای تهران به ثبت رسیده است. نوع شرکت در ابتدا با مسئولیت محدود بوده، و پس از آن بر مبنای آگهی مندرج در روزنامه رسمی شماره 10372 مورخ 1359/07/13 به سهامی خاص تبدیل گردیده است. شرکت راموفارمین از تولیدکنندگان بنام شربتهای دارویی بوده و می توان به جرات گفت که سبد متنوعی از محصولات شربت را دارا می باشد. بخش جامدات شرکت شامل قرص و کپسول می باشد. بسیاری از قرصهای تولیدی راموفارمین با نام برند وارد بازار دارویی کشور شده اند مانند: آزاتیوپرین با نام برند آزارام، کاربامازپین با نام برند کاربارام، لوودوپا سی و لوودوپا سی فورت با نامهای تجاری ال- دورام سی، ال دورام سی فورت و ..... و تعداد دیگری از محصولات راموفارمین با نام ژنریک در بازاردارویی کشور عرضه می گردد.</p>
                    </div>
                  </div>
                  <div *ngIf="flag1 && !flag2" class="tabs_item">
                    <div class="choose-tab-item item-1">
                      <p style="text-align: justify">
                        چشم‌انداز ما جهانی است که در آن همه‌ی افراد، صرف نظر از نژاد، مذهب، قومیت، گرایش یا هویت جنسی، از همه‌ی حقوق بشر که در بیانیه‌ی جهانی حقوق بشر سازمان ملل و دیگر استاندارهای بین‌المللی حقوق بشر تصریح شده‌اند،، برخوردار باشند.
                      </p>
                    </div>
                    <div class="choose-tab-item item-2">
                      <h3>کاترپیلار</h3>
                      <p style="text-align: justify">
                        چشم‌انداز ما دنیایی است که نیازهای اساسی مردم از قبیل مسکن، آب تمیز، بهداشت و انرژی کافی با روش‌های سازگار با محیط زیست محقق شود و شرکتی برای بهبود کیفیت محیط زیست و اجتماعاتی که در آنها زندگی و کار می‌کنیم.
                      </p>
                    </div>
                    <div class="choose-tab-item item-3">
                      <h3>شرکت سونی</h3>
                      <p style="text-align: justify">
                        خوشحال‌کردن مردم و بهترکردن زندگی روزمره برای بسیاری از مردم و خلاق‌ترین‌بودن در میان سازمان‌های جهان و شرکتی که برای کنجکاوی‌های شما الهام‌بخش است و آنها را تحقق می‌بخشد و مشتری‌محورترین شرکت روی زمین که مشتریان می‌توانند هر چیزی را که بخواهند آنلاین بخرند در آن پیدا و کشف می‌کنند.
                      </p>
                    </div>
                  </div>
                  <div *ngIf="!flag1 && flag2" class="tabs_item">
                    <div class="choose-tab-item item-1">
                      <p style="text-align: justify">
                        مأموریت‌ها نشان می‌دهند که برند شما در چه صنعتی فعالیت می‌کند و با چه نوع شرکت‌هایی در حال رقابت است. هرکس مأموریت‌های برند شما را بخواند خواهد فهمید که مثلا شما یک کمپانی معماری هستید یا یک شرکت فیلسازی. مأموریت یا مأموریت‌ها در نهایت به اهداف استراتژیک منتهی خواهند شد که رهبران شرکت آنها را می‌نویسند؛ اهدافی که سازمان برای دستیابی به آنها تلاش خواهد کرد و رهبران برای تحقق آنها برنامه‌ریزی خواهند کرد.
                      </p>
                    </div>
                    <div class="choose-tab-item item-2">
                      <h3>آدیداس</h3>
                      <p style="text-align: justify">
                        ما تلاش می‌کنیم، به همراه برندهایی که با شور و شوق برای ورزش و سبک زندگی ورزشی ساخته شده‌اند، در صنعت کالاهای ورزشی در جهان پیشرو باشیم. ما به دنبال این هستیم که مشتری‌محورترین شرکت روی زمین باشیم برای چهار مجموعه مشتری: مصرف‌کنندگان، فروشندگان، شرکت‌ها و تولیدکنندگان محتوا.
                      </p>
                    </div>
                    <div class="choose-tab-item item-3">
                      <h3>گوگل</h3>
                      <p style="text-align: justify">
                        سازماندهی اطلاعات جهان و مفید و دسترس‌پذیر کردن آنها برای جهان و ایجاد و ترویج نوشیدنی‌های ارگانیک، واقعاً سالم با طعم عالی و ارتقای جامعه با ایجاد، جمع‌آوری و پخش اخبار و اطلاعات با کیفیت بالا.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="services-area bg-color pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span>خدمات حمل و نقل</span>
      <h2>چه کاری میتونیم براتون انجام بدیم</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services-details">
            <img src="assets/images/services/services-1.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services-details">
              ترانزیت
            </a>
          </h3>
          <p style="text-align: justify">
            پس با توجه به موارد ذکر شده الان متوجه این موضوع شدیم که هر کشوری از هرجای دنیا وابسته به واردات و صادرات برخی کالا ها هست که این امر جزو حیاطی تریت موضوع های اقتصادی هر کشور در زمینه ی جزب ارز بین المللی است.
          </p>
          <a href="/services-details" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services-details">
            <img src="assets/images/trucking/trucking-services-index.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services-details">
              خرده بار
            </a>
          </h3>
          <p style="text-align: justify">
            اساساً هر کشوری قادر به تأمین تمام نیازهای خود نیست. بنابراین لازم است برای تأمین این نیازها با کشورهای دیگر همکاری کند. این همکاری و تبادل کالا با توجه به اوضاع سیاسی و فرهنگی هر کشور صورت می گیرد و با توجه به این موارد امکان جابجایی کالا و تأمین نیازهای کشور وجود دارد.
          </p>
          <a href="/services-details" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services-details">
            <img src="assets/images/trucking/trucking-services-index3.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services-details">
              صادرات
            </a>
          </h3>
          <p style="text-align: justify">
            باربری جاده ای به وسیله کامیون های استاندارد و ایمن کم ترین لرزش و نوسان را به محموله وارد می نماید. از این رو برای کالاهایی که آسیب پذیری و حساسیت بالایی دارند بسیار مناسب می باشد. از طرفی سرعت ارسال کالا در این نوع حمل و نقل بار از چشم گیری خاص خود برخوردار است.
          </p>
          <a href="/services-details" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services-details">
            <img src="assets/images/trucking/trucking-services-index2.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services-details">
              واردات
            </a>
          </h3>
          <p style="text-align: justify">
            محموله های شما در کمترین زمان تحویل با هزینه کمتر با گزینه های مستقیم کامیون یا گزینه ارسال مجدد از / به کشورهای اروپایی به / از عراق، ایران، جمهوری آذربایجان، گرجستان، ارمنستان، ترکمنستان، تاجیکستان و قزاقستان به سایر کشورهای آسیای میانه و خاورمیانه تحویل داده می شوند.
          </p>
          <a href="/services-details" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="logistics-solutions-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="logistics-solutions">
          <span>راه حل های لجستیک</span>
          <h2>ما بهترین راه حل را برای شما ارائه می دهیم</h2>
          <ul>
            <li>
              <i>
                <img src="assets/images/icon/storehouse.png" alt="" style="width: 70%;vertical-align: middle;">
              </i>
              <h3>راه حل های انبار</h3>
              <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
            </li>
            <li>
              <i>
                <img src="assets/images/icon/wholesale.png" alt="" style="width: 70%;vertical-align: middle;">
              </i>
              <h3>حمل و نقل و توزیع</h3>
              <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
            </li>
            <li>
              <i>
                <img src="assets/images/icon/cargo.png" alt="" style="width: 70%;vertical-align: middle;">
              </i>
              <h3>مدیریت سفارش</h3>
              <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-7">
        <img src="assets/images/trucking/top-trucks7.jpg" alt="" style="max-width: none;width: 90vh;margin-top: 7vh;">
      </div>
    </div>
  </div>
</section>


<section class="counter-area bg-color pt-100 pb-70">
  <div class="container">
    <div class="counter-bg">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/driver.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <span class="odometer" data-count="30">00</span>
              </h2>
              <h4>راننده</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/truck.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <span class="odometer" data-count="50">00</span>
                <span class="target">+</span>
              </h2>
              <h4>وسایل نقلیه</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/cargo-delivary.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <span class="odometer" data-count="30">00</span>
                <span class="target">K</span>
              </h2>
              <h4>تحویل در سال</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/costumer.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <span class="odometer" data-count="10">00</span>
                <span class="target">K</span>
              </h2>
              <h4>مشتری های راضی</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="testimonials-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>بازخورد مشتریان</span>
      <h2>آنچه مردم درباره ما می گویند</h2>
    </div>
    <div class="testimonials-slider owl-carousel owl-theme">
      <div *ngIf="!testFlag1 && !testFlag2" class="single-testimonials">
        <i>
          <img src="assets/images/icon/double-quotes.png" alt="" style="width: 7vh;">
        </i>
        <p>
          "همه کسب و کار ها در سطح جهان به دلیل افزایش سطح رقابتی در بازار با چالش مقابله با رقبا روبرو هستند. براساس مطالعه اخیر موسسه ReviewTrackers، افزایش رقابت در بین کسب و کار های مختلف، گزینه ها و حق انتخاب را برای مشتریان بیشتر می کند، و همین امر باعث می شود که مشتریان در صورت مطلوب نبودن کیفیت، بدون اتلاف وقت کسب و کار را ترک نمایند و به سراغ برند های دیگری بروند."
        </p>
        <img src="assets/images/testimonials/testimonials-1.jpg" alt="Images" style="width: 10%;">
        <div class="testimonials-title">
          <h3>کارول مکدونالد</h3>
          <span>کاربر</span>
        </div>
      </div>
      <div *ngIf="testFlag1 && !testFlag2" class="single-testimonials">
        <i>
          <img src="assets/images/icon/double-quotes.png" alt="" style="width: 7vh;">
        </i>
        <p>
          "بازخورد مشتری می تواند در نقش یک وسیله برای سنجش میزان تعهد و وفاداری مشتریان نسبت به برند شما و محصولی که ارائه می دهید ظاهر شود."
        </p>
        <img src="assets/images/testimonials/testimonials-2.jpg" alt="Images" style="width: 10%;">
        <div class="testimonials-title">
          <h3>کارول فدایی</h3>
          <span>کاربر</span>
        </div>
      </div>
      <div *ngIf="!testFlag1 && testFlag2" class="single-testimonials">
        <i>
          <img src="assets/images/icon/double-quotes.png" alt="" style="width: 7vh;">
        </i>
        <p>
          "احتمالا شما انگیزه های مشخصی برای راه انداختن کسب و کار شخصی خود دارید. شاید به عنوان یک پزشک مشتاق کمک به بیماران باشید و از تلاش برای سلامتی آن ها لذت می برید."
        </p>
        <img src="assets/images/testimonials/testimonials-3.jpg" alt="Images" style="width: 10%;">
        <div class="testimonials-title">
          <h3>ریچارد مکدونالد</h3>
          <span>کاربر</span>
        </div>
      </div>
    </div>
    <div style="text-align: center;margin-top: 20px;">
      <i>
        <button (click)="changTestFlagToNext()" style="margin-left:2px;text-align: left;width: 2vh;background-color: white;border: none;"><img src="assets/images/icon/arrow-right.png" alt="" style="" ></button>
      </i>
      <i>
        <button (click)="changTestFlagToPrevious()" style="margin-right:2px;text-align: right;width: 2vh;background-color: white;border: none;"><img src="assets/images/icon/arrow-left.png" alt="" style="" ></button>
      </i>
    </div>
  </div>
</section>


<footer class="footer-area bg-color pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget single-bg">
          <a href="index.html" class="logo">
            <img src="assets/images/logo.png" alt="Image">
          </a>
          <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
          <ul class="social-icon">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="ri-facebook-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="ri-instagram-line"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>تماس بگیرید</h3>
          <ul class="address">
            <li>
              <span><i class="ri-map-pin-fill"></i> آدرس:</span>
              ایران ، استان زنجان ، دانشگاه زنجان
            </li>
            <li class="location">
              <span><i class="ri-phone-fill"></i> تلفن:</span>
              <a href="tel:+98-(912)-241-1361">024-33051</a>
            </li>
            <li>
              <span><i class="ri-mail-fill"></i> ایمیل:</span>
              <a href="mailto: hello@Matro.com">hello@Matro.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>اطلاعات</h3>
          <ul class="import-link">
            <li>
              <a href="/terms-conditions">قوانین و ضوابط</a>
            </li>
            <li>
              <a href="/privacy-policy">حریم خصوصی</a>
            </li>
            <li>
              <a href="/request-quote">درخواست نقل قول</a>
            </li>
            <li>
              <a href="/faqs">سوالات متداول</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget newsletter">
          <h3>خبرنامه</h3>
          <p>در خبرنامه ما مشترک شوید و آخرین نکات را از طریق ایمیل دریافت کنید.</p>
          <form class="newsletter-form" data-toggle="validator">
            <input type="email" class="form-control" placeholder="hello@Matro.com" name="EMAIL" required autocomplete="off">
            <button class="subscribe" type="submit">
              مشترک شدن
              <i class="ri-arrow-left-line"></i>
            </button>
            <div id="validator-newsletter" class="form-result"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
