<header class="header-area header-area-style-two">
    <div class="top-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <ul class="header-left-content">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <img src="assets/icons/facebook1.svg" style="width: 35px;">
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <img src="assets/icons/instagram1.svg" style="width: 35px;">
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <img src="assets/icons/twitter1.svg" style="width: 35px;">
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="header-right-content">
              <ul class="my-account" *ngIf="shared.getIsLogin()">
                <li>
                  <a class="dropdown-control">
                    <mat-icon class="personal-mat-icon" style="color: #f76649;font-size: larger;vertical-align: -moz-middle-with-baseline">account_circle</mat-icon>
                    حساب من
                    <mat-icon style="font-size: large;vertical-align: -moz-middle-with-baseline">arrow_drop_down</mat-icon>
                  </a>
                  <ul class="my-account-link">
                    <li>
                      <a (click)="profile()" >پروفایل</a>
                    </li>
                    <li>
                      <a  (click)="logout()" >خروج</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="languages-switcher" *ngIf="!shared.getIsLogin()">
                <a href="/sign-in" class="home-header-btn mx-1">
                  ورود
                  <i class="ri-arrow-left-line"></i>
                </a>
                <a href="/sign-up" class="home-header-btn mx-1">
                  عضویت
                  <i class="ri-arrow-left-line"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-area navbar-area-style-two">
      <div class="mobile-responsive-nav">
        <div class="container">
          <div class="mobile-responsive-menu">
            <div class="logo">
              <a href="">
                <img src="assets/images/trucking-logo.png" alt="Image" style="width: 140px">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="desktop-nav">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-light" style="height: 70px;">
            <a class="navbar-brand" href="/">
              <img src="assets/images/trucking-logo.png" alt="Image" style="width: 140px">
            </a>
            <div class="collapse navbar-collapse mean-menu " id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    خانه
                    <i class="ri-arrow-down-s-line"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/about" class="nav-link">درباره ما</a>
                </li>
                <li class="nav-item">
                  <a href="/services" class="nav-link">خدمات</a>
                </li>
                <li class="nav-item">
                  <a href="/contact" class="nav-link active">تماس با ما</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="others-option-for-responsive">
        <div class="container">
          <div class="dot-menu">
            <div class="inner">
              <div class="circle circle-one"></div>
              <div class="circle circle-two"></div>
              <div class="circle circle-three"></div>
            </div>
          </div>
          <div class="container">
            <div class="option-inner">
              <div class="others-option justify-content-center d-flex align-items-center">
                <ul>
                  <li>
                    <a href="tel:+24-3332-3332" class="default-btn">
                      <span>
                        024-33323332
                        <i class="ri-phone-fill"></i>
                        </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </header>
  