<!--<div class="preloader">-->
<!--  <div class="lds-ripple">-->
<!--    <div class="pl-spark-1 pl-spark-2"></div>-->
<!--  </div>-->
<!--</div>-->




<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>درخواست نقل قول</h2>
      <ul>
        <li>
          <a href="index.html">
            خانه
          </a>
        </li>
        <li class="active">درخواست نقل قول</li>
      </ul>
    </div>
  </div>
  <div class="shape shape-1">
    <img src="assets/images/page-title-shape-1.png" alt="Image">
  </div>
  <div class="shape shape-2">
    <img src="assets/images/page-title-shape-2.png" alt="Image">
  </div>
</div>


<section class="request-quote-area request-quote-area-style-two ptb-100">
  <div class="container">
    <div class="section-title">
      <span>درخواست نقل و قول</span>
      <h2>نیازهای خود را به ما بگویید ، و متخصصان صنعت ما پاسخ خواهند داد</h2>
    </div>
    <div class="request-quote-content">
      <form class="request-quote-from">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">نام شما</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">آدرس ایمیل</label>
              <input type="email" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">تلفن</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">موضوع</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">نوع حمل و نقل</label>
              <select>
                <option value="1">حمل و نقل زمینی</option>
                <option value="2">حمل و نقل ریلی</option>
                <option value="3">حمل و نقل دریایی</option>
                <option value="4">حمل و نقل هوایی</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">شهر مقصد</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">شهر محل تحویل</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">اینکوترمز</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="form-label">وزن</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="form-label">عرض</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="form-label"> ارتفاع</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="form-label">اندازه</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <label class="single-check">
              شکننده
              <input type="radio" checked="checked" name="radio-2">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-lg-3 col-sm-6">
            <label class="single-check">
              تحویل سریع
              <input type="radio" name="radio-2">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-lg-3 col-sm-6">
            <label class="single-check">
              بیمه
              <input type="radio" name="radio-2">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-lg-3 col-sm-6">
            <label class="single-check">
              فوری
              <input type="radio" name="radio-2">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <button type="submit" class="default-btn">
<span>
درخواست نقل قول
<i class="ri-send-plane-2-fill"></i>
</span>
        </button>
      </form>
    </div>
  </div>
  <div class="quote-shape-1">
    <img src="assets/images/quote-shape-1.png" alt="Images">
  </div>
  <div class="quote-shape-2">
    <img src="assets/images/quote-shape-2.png" alt="Images">
  </div>
</section>


<footer class="footer-area bg-color pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget single-bg">
          <a href="index.html" class="logo">
            <img src="assets/images/logo.png" alt="Image">
          </a>
          <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
          <ul class="social-icon">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="ri-facebook-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="ri-instagram-line"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>تماس بگیرید</h3>
          <ul class="address">
            <li>
              <span><i class="ri-map-pin-fill"></i> آدرس:</span>
              ایران ، استان زنجان ، دانشگاه زنجان
            </li>
            <li class="location">
              <span><i class="ri-phone-fill"></i> تلفن:</span>
              <a href="tel:+98-(912)-241-1361">024-33051</a>
            </li>
            <li>
              <span><i class="ri-mail-fill"></i> ایمیل:</span>
              <a href="mailto: hello@Matro.com">hello@Matro.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>اطلاعات</h3>
          <ul class="import-link">
            <li>
              <a href="/terms-conditions">قوانین و ضوابط</a>
            </li>
            <li>
              <a href="/privacy-policy">حریم خصوصی</a>
            </li>
            <li>
              <a href="/request-quote">درخواست نقل قول</a>
            </li>
            <li>
              <a href="/faqs">سوالات متداول</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget newsletter">
          <h3>خبرنامه</h3>
          <p>در خبرنامه ما مشترک شوید و آخرین نکات را از طریق ایمیل دریافت کنید.</p>
          <form class="newsletter-form" data-toggle="validator">
            <input type="email" class="form-control" placeholder="hello@Matro.com" name="EMAIL" required autocomplete="off">
            <button class="subscribe" type="submit">
              مشترک شدن
              <i class="ri-arrow-left-line"></i>
            </button>
            <div id="validator-newsletter" class="form-result"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
