<!--<div class="preloader">-->
<!--  <div class="lds-ripple">-->
<!--    <div class="pl-spark-1 pl-spark-2"></div>-->
<!--  </div>-->
<!--</div>-->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>ثبت بار جدید</h2>
    </div>
  </div>
  <div class="shape shape-1">
    <img src="assets/images/page-title-shape-1.png" alt="Image" />
  </div>
  <div class="shape shape-2">
    <img src="assets/images/page-title-shape-2.png" alt="Image" />
  </div>
</div>

<section class="request-quote-area request-quote-area-style-two ptb-100">
  <div class="container">
    <div class="section-title">
      <span>ثبت بار جدید</span>
      <h2>نیازهای خود را به ما بگویید</h2>
    </div>
    <div class="request-quote-content">
      <form class="request-quote-from">
        <div>
          <fieldset class="row border p-2 mb-4">
            <legend class="mb-3">بارگییری و تخلیه</legend>
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label class="form-label">مبدا بار</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label class="form-label">مقصد بار</label>
                <input type="email" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label class="form-label">تاریخ بارگیری</label>
                <input type="datetime-local" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label class="form-label">تاریخ تخلیه</label>
                <input type="datetime-local" class="form-control" />
              </div>
            </div>
          </fieldset>

          <fieldset class="row border p-2 mb-4">
            <legend class="mb-3">مشخصات بار</legend>
            <div class="col-lg-3 col-sm-6">
              <div class="form-group">
                <label class="form-label">نوع حمل و نقل</label>
                <select>
                  <option value="1">حمل و نقل زمینی</option>
                  <option value="2">حمل و نقل ریلی</option>
                  <option value="3">حمل و نقل دریایی</option>
                  <option value="4">حمل و نقل هوایی</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="form-group">
                <label class="form-label">نوع بسته بندی</label>
                <select>
                  <option value="1">جعبه و کارتن</option>
                  <option value="2">فاقد بسته بندی</option>
                  <option value="3">گونی</option>
                  <option value="4">کانتینر</option>
                  <option value="5">یخچالی</option>
                  <option value="6">تانکری</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="form-group">
                <label class="form-label">وزن</label>
                <input type="text" placeholder="تن" class="form-control" />
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="form-group">
                <label class="form-label">ارزش (تومان)</label>
                <input type="text" placeholder="تومان" class="form-control" />
              </div>
            </div>
            <div class="col-lg-12 col-sm-12">
              <div class="form-group">
                <label class="form-label">توضیحات</label>
                <textarea rows="4" cols="50" class="form-control"></textarea>
              </div>
            </div>
          </fieldset>

          <fieldset class="row border p-2 mb-4">
            <legend class="mb-3">مشخصات خودروی حمل</legend>
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label class="form-label">نوع ماشین و بارگیر</label>
                <select>
                  <option aria-value="1">باري چوبي تا 4 تن</option>
                  <option value="1">باري فلزي تا 4 تن</option>
                  <option value="1">اطاقدار (خاور) 4 تا 10 تن</option>
                  <option value="1">اطاقدار 6 چرخ 7 تا 13 تن</option>
                  <option value="1">باري چوبي 7 تا 13 تن</option>
                  <option value="1">باري فلزي 7 تا 13 تن</option>
                  <option value="1">اطاقدار 6 چرخ 17 تا 20 تن</option>
                  <option value="1">باري چوبي 17 تا 20 تن</option>
                  <option value="1">باري فلزي 17 تا 20 تن</option>
                  <option value="1">اطاقدار (خاور) 17 تا 20 تن</option>
                  <option value="1">كمپرسي 6 چرخ 4 تا 10 تن</option>
                  <option value="1">كمپرسي 6 چرخ 10 تا 19 تن</option>
                  <option value="1">كمپرسي 6 چرخ بالاي 19 تن</option>
                  <option value="1">كمپرسي 6 چرخ 17 تا 20 تن</option>
                  <option value="1">يخچالدار 6 چرخ 7 تا 13 تن</option>
                  <option value="1">مسقف 6 چرخ 10 تا 19 تن</option>
                  <option value="1">مسقف 6 چرخ 7 تا 13 تن</option>
                  <option value="1">مسقف خاور 7 تا 13 تن</option>
                  <option value="1">مسقف 6 چرخ 17 تا 20 تن</option>
                  <option value="1">تانكر-مخزندار 6 چرخ بالاي 19 تن</option>
                  <option value="1">بغلدار معمولي 6 چرخ بالاي 19 تن</option>
                  <option value="1">كفي 6 چرخ 4 تا 7 تن</option>
                  <option value="1">مسقف خاور</option>
                  <option value="1">یخچالدارخاور</option>
                  <option value="1">کمپرسی خاور</option>
                  <option value="1">اطاقدار (خاور)</option>
                  <option value="1">اطاقدار (بنز 911)</option>
                  <option value="1">اطاقدار 6چرخ(تک)</option>
                  <option value="1">مسقف 6چرخ(تک مسقف)</option>
                  <option value="1">کمپرسی 6چرخ</option>
                  <option value="1">یخچالدار6چرخ</option>
                  <option value="1">اطاقدار10چرخ(جفت)</option>
                  <option value="1">مسقف 10چرخ</option>
                  <option value="1">یخچالدار10چرخ(یخچالدار جفت)</option>
                  <option value="1">تریلی لبه دار</option>
                  <option value="1">کفی تیغه</option>
                  <option value="1">تریلی کفی</option>
                  <option value="1">تریلی یخچالدار</option>
                  <option value="1">تریلی کمپرسی</option>
                  <option value="1">تریلی تانکری(نوع تانکر در توضیحات)</option>
                  <option value="1">تریلی چادری (ترانزیت چادری)</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label class="form-label">تعداد ماشین و بارگیر</label>
                <input type="number" min="0" max="20" class="form-control" />
              </div>
            </div>
          </fieldset>

          <fieldset class="row border p-2 mb-4">
            <legend class="mb-3">هزینه حمل</legend>
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label class="form-label">مبلغ پیشنهادی</label>
                <input
                  type="text"
                  maxlength="15"
                  placeholder="تومان"
                  class="form-control"
                />
              </div>
            </div>
          </fieldset>

          <fieldset class="row border p-2 mb-4">
            <legend class="mb-3">مشخصات تحویل گیرنده</legend>
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label class="form-label">تحویل گیرنده</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="form-group">
                <label class="form-label">تلفن همراه</label>
                <input
                  type="text"
                  maxlength="11"
                  minlength="11"
                  placeholder="09xxxxxxxxx"
                  class="form-control"
                />
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="default-btn">
          <span>
            ثبت درخواست
            <i class="ri-send-plane-2-fill"></i>
          </span>
        </button>
      </form>
    </div>
  </div>
  <div class="quote-shape-1">
    <img src="assets/images/quote-shape-1.png" alt="Images" />
  </div>
  <div class="quote-shape-2">
    <img src="assets/images/quote-shape-2.png" alt="Images" />
  </div>
</section>
