<!--<div class="preloader">-->
<!--  <div class="lds-ripple">-->
<!--    <div class="pl-spark-1 pl-spark-2"></div>-->
<!--  </div>-->
<!--</div>-->


<header class="header-area header-area-style-two">
  <div class="top-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <ul class="header-left-content">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <img src="assets/icons/facebook1.svg" style="width: 35px;">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <img src="assets/icons/instagram1.svg" style="width: 35px;">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <img src="assets/icons/twitter1.svg" style="width: 35px;">
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header-right-content">
            <ul class="my-account">
              <li>
                <a class="dropdown-control">
                  <mat-icon class="personal-mat-icon" style="color: #f76649;font-size: larger;vertical-align: -moz-middle-with-baseline">account_circle</mat-icon>
                  حساب من
                  <mat-icon style="font-size: large;vertical-align: -moz-middle-with-baseline">arrow_drop_down</mat-icon>
                </a>
                <ul class="my-account-link">
                  <li>
                    <a href="/sign-in" >ورود</a>
                  </li>
                  <li>
                    <a href="/sign-up" >عضویت</a>
                  </li>
                  <li>
                    <a href="/request-quote" >درخواست نقل قول</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="languages-switcher">
              <mat-icon class="personal-mat-icon" style="color: #f76649;font-size: larger;vertical-align: -moz-middle-with-baseline">language</mat-icon>
              <select>
                <option value="1">فارسی</option>
                <option value="2">العربيّة</option>
                <option value="3">Deutsch</option>
                <option value="4">Português</option>
                <option value="5">简体中文</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-area navbar-area-style-two">
    <div class="mobile-responsive-nav">
      <div class="container">
        <div class="mobile-responsive-menu">
          <div class="logo">
            <a href="">
              <img src="assets/images/trucking-logo.png" alt="Image" style="width: 140px">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop-nav">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light" style="height: 70px;">
          <a class="navbar-brand" href="/">
            <img src="assets/images/trucking-logo.png" alt="Image" style="width: 140px">
          </a>
          <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  خانه
                  <i class="ri-arrow-down-s-line"></i>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/about" class="nav-link">درباره ما</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  خدمات
                  <mat-icon style="font-size: large;vertical-align: -moz-middle-with-baseline">arrow_drop_down</mat-icon>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="/services" class="nav-link">خدمات</a>
                  </li>
                  <li class="nav-item">
                    <a href="/services-details" class="nav-link">جزئیات خدمات</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  صفحات
                  <mat-icon style="font-size: large;vertical-align: -moz-middle-with-baseline">arrow_drop_down</mat-icon>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a href="/about"  class="nav-link">تیم</a>
                  </li>
                  <li class="nav-item">
                    <a href="/gallery" class="nav-link">گالری</a>
                  </li>
                  <li class="nav-item">
                    <a  href="/faqs" class="nav-link">سوالات متداول</a>
                  </li>
                  <li class="nav-item">
                    <a href="/testimonials" class="nav-link">بازخورد مشتریان </a>
                  </li>
                  <li class="nav-item">
                    <a href="/privacy-policy" class="nav-link">حریم خصوصی</a>
                  </li>
                  <li class="nav-item">
                    <a href="/terms-conditions" class="nav-link">قوانین و ضوابط</a>
                  </li>
                  <li class="nav-item">
                    <a href="/404" class="nav-link">خطای 404</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link active">تماس با ما</a>
              </li>
            </ul>
            <div class="others-options">
              <ul>
                <li>
                  <a href="tel:+98-(912)-241-1361" class="default-btn">
                    <span>
                      024-33051
                      <i class="ri-phone-fill"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="others-option-for-responsive">
      <div class="container">
        <div class="dot-menu">
          <div class="inner">
            <div class="circle circle-one"></div>
            <div class="circle circle-two"></div>
            <div class="circle circle-three"></div>
          </div>
        </div>
        <div class="container">
          <div class="option-inner">
            <div class="others-option justify-content-center d-flex align-items-center">
              <ul>
                <li>
                  <a href="tel:+1-(514)-312-5678" class="default-btn">
                    <span>
                      021-12345678
                      <i class="ri-phone-fill"></i>
                      </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>


<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>درخواست نقل قول</h2>
      <ul>
        <li>
          <a href="index.html">
            خانه
          </a>
        </li>
        <li class="active">درخواست نقل قول</li>
      </ul>
    </div>
  </div>
  <div class="shape shape-1">
    <img src="assets/images/page-title-shape-1.png" alt="Image">
  </div>
  <div class="shape shape-2">
    <img src="assets/images/page-title-shape-2.png" alt="Image">
  </div>
</div>


<section class="request-quote-area request-quote-area-style-two ptb-100">
  <div class="container">
    <div class="section-title">
      <span>درخواست نقل و قول</span>
      <h2>نیازهای خود را به ما بگویید ، و متخصصان صنعت ما پاسخ خواهند داد</h2>
    </div>
    <div class="request-quote-content">
      <form class="request-quote-from">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">نام شما</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">آدرس ایمیل</label>
              <input type="email" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">تلفن</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">موضوع</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">نوع حمل و نقل</label>
              <select>
                <option value="1">حمل و نقل زمینی</option>
                <option value="2">حمل و نقل ریلی</option>
                <option value="3">حمل و نقل دریایی</option>
                <option value="4">حمل و نقل هوایی</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">شهر مقصد</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">شهر محل تحویل</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="form-group">
              <label class="form-label">اینکوترمز</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="form-label">وزن</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="form-label">عرض</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="form-label"> ارتفاع</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="form-group">
              <label class="form-label">اندازه</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <label class="single-check">
              شکننده
              <input type="radio" checked="checked" name="radio-2">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-lg-3 col-sm-6">
            <label class="single-check">
              تحویل سریع
              <input type="radio" name="radio-2">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-lg-3 col-sm-6">
            <label class="single-check">
              بیمه
              <input type="radio" name="radio-2">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-lg-3 col-sm-6">
            <label class="single-check">
              فوری
              <input type="radio" name="radio-2">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <button type="submit" class="default-btn">
<span>
درخواست نقل قول
<i class="ri-send-plane-2-fill"></i>
</span>
        </button>
      </form>
    </div>
  </div>
  <div class="quote-shape-1">
    <img src="assets/images/quote-shape-1.png" alt="Images">
  </div>
  <div class="quote-shape-2">
    <img src="assets/images/quote-shape-2.png" alt="Images">
  </div>
</section>


<footer class="footer-area bg-color pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget single-bg">
          <a href="index.html" class="logo">
            <img src="assets/images/logo.png" alt="Image">
          </a>
          <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
          <ul class="social-icon">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="ri-facebook-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="ri-instagram-line"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <i class="ri-twitter-fill"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>تماس بگیرید</h3>
          <ul class="address">
            <li>
              <span><i class="ri-map-pin-fill"></i> آدرس:</span>
              ایران ، استان تهران ، میدان آزادی ، خیابان 9
            </li>
            <li class="location">
              <span><i class="ri-phone-fill"></i> تلفن:</span>
              <a href="tel:+1-(514)-312-5678">02112345678</a>
            </li>
            <li>
              <span><i class="ri-mail-fill"></i> ایمیل:</span>
              <a href="mailto: hello@Matro.com">hello@Matro.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>اطلاعات</h3>
          <ul class="import-link">
            <li>
              <a href="terms-conditions.html">قوانین و ضوابط</a>
            </li>
            <li>
              <a href="privacy-policy.html">حریم خصوصی</a>
            </li>
            <li>
              <a href="request-quote.html">درخواست نقل قول</a>
            </li>
            <li>
              <a href="faq.html">سوالات متداول</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget newsletter">
          <h3>خبرنامه</h3>
          <p>در خبرنامه ما مشترک شوید و آخرین نکات را از طریق ایمیل دریافت کنید.</p>
          <form class="newsletter-form" data-toggle="validator">
            <input type="email" class="form-control" placeholder="hello@Matro.com" name="EMAIL" required autocomplete="off">
            <button class="subscribe" type="submit">
              مشترک شدن
              <i class="ri-arrow-left-line"></i>
            </button>
            <div id="validator-newsletter" class="form-result"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>


<div class="copy-right-area bg-color">
  <div class="container">
    <p>
      کپی رایت <i class="ri-copyright-line"></i> 1400 ماترو. حقوق قالب محفوظ است. طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat" target="_blank" rel="nofollow">Barat Hadian</a>
    </p>
  </div>
</div>


<div class="go-top">
  <i class="ri-arrow-up-s-fill"></i>
  <i class="ri-arrow-up-s-fill"></i>
</div>
