<!--<div class="preloader">-->
<!--  <div class="lds-ripple">-->
<!--    <div class="pl-spark-1 pl-spark-2"></div>-->
<!--  </div>-->
<!--</div>-->



<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>درباره ما</h2>
      <ul>
        <li>
          <a href="index.html">
            صفحه اصلی
          </a>
        </li>
        <li class="active">درباره ما</li>
      </ul>
    </div>
  </div>
  <div class="shape shape-1">
    <img src="assets/images/about-banner/page-title-shape-1.png" alt="Image">
  </div>
  <div class="shape shape-2">
    <img src="assets/images/about-banner/banner-bg-1.jpg" alt="Image" style="width: 120vh;">
  </div>
</div>


<section class="choose-area pt-100 pb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="choose-img">
          <img src="assets/images/trucking/trucking.png" alt="Images">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq-accordion">
          <h2>چرا باید خدمات حمل و نقل و تدارکات ماترو را انتخاب کنید</h2>

          <mat-accordion>
            <div>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header style="height: 70px;">
                  <mat-panel-title class="question-title">
                    <i>
                      <img src="assets/images/icon/history.png" alt="" style="width: 20px;">
                    </i>
                    تاریخ ما
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="answer-text">            بر اساس توصیه سازمان بهداشت جهانی استفاده از ماسک‌ برای افراد سالم ضروری نیست
                  امابه افرادی که علایم ابتلا به ویروس کرونا COVID-۱۹ دارند
                  و یا این که از افراد مشکوک یا مبتلا به کرونا مراقبت می کنند،
                  همچنین افرادی که قصد رفتن به مکان های عمومی و پر ازدحام را دارند
                  توصیه می شود از ماسک استفاده کنند.
                </p>
              </mat-expansion-panel>
            </div>

            <div style="height: 20px"></div>

            <div>
              <mat-expansion-panel>
                <mat-expansion-panel-header style="height: 70px;">
                  <mat-panel-title class="question-title">
                    <i>
                      <img src="assets/images/icon/vision.png" alt="" style="width: 20px;">
                    </i>
                    چشم انداز ما
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="answer-text">
                  جواب این سوال مثبت است. ویروس کرونا دارای علائمی از جمله سرفه، تنگی نفس، خستگی و ضعف است؛ اما در بعضی افراد این علائم مشخص نیست.
                  برای جلوگیری از ابتلا به کرونا از جمله اقداماتی که باید انجام شود می‌توان به شستشو و ضدعفونی دست‌ها اشاره کرد.
                  قرنطینه و محدودیت‌های سفر در این بیماری به‌خصوص برای بیمارانی که وضعیت حاد دارند، نیز می‌تواند تأثیرگذار باشد.
                </p>
              </mat-expansion-panel>
            </div>

            <div style="height: 20px"></div>

            <div>
              <mat-expansion-panel>
                <mat-expansion-panel-header style="height: 70px;">
                  <mat-panel-title class="question-title">
                    <i>
                      <img src="assets/images/icon/mission.png" alt="" style="width: 20px;">
                    </i>
                    ماموریت ما
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="answer-text">
                  خیر. برای محافظت در برابر این ویروس باید به طور مرتب دستان خود را بشویید.
                </p>
              </mat-expansion-panel>
            </div>

          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="counter-area bg-color pt-100 pb-70">
  <div class="container">
    <div class="counter-bg">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/driver.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <span class="odometer" data-count="30">00</span>
              </h2>
              <h4>راننده</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/truck.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <span class="odometer" data-count="50">00</span>
                <span class="target">+</span>
              </h2>
              <h4>وسایل نقلیه</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/cargo-delivary.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <span class="odometer" data-count="30">00</span>
                <span class="target">K</span>
              </h2>
              <h4>تحویل در سال</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single-counter">
            <i>
              <img src="assets/images/icon/costumer.png" alt="" style="width: 75px;">
            </i>
            <div class="count-title">
              <h2>
                <span class="odometer" data-count="10">00</span>
                <span class="target">K</span>
              </h2>
              <h4>مشتری های راضی</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="team-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>متخصصین ما</span>
      <h2>با تیم اختصاصی ما آشنا شوید</h2>
    </div>
    <div class="team-sidler owl-carousel owl-theme row">

      <div class="single-team-member col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image1"></div>
            <mat-card-title class="trip-dest-dtext">سیمون فدیر</mat-card-title>
            <mat-card-subtitle class="trip-date-dtext">مدیریت</mat-card-subtitle>
            <div class="team-content">
              <div class="team-social">
                <a href="#" class="control">
                <i>
                  <img src="assets/images/icon/share.png" alt="" style="width: 20px;vertical-align: text-top;">
                </i>
              </a>
                <ul>
                <li>
                  <a href="https://www.facebook.com/" target="_blank">
                    <i>
                      <img src="assets/images/icon/facebook.png" alt=""style="width: 20px;">
                    </i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i>
                      <img src="assets/images/icon/instagram.png" alt=""style="width: 20px;">
                    </i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i>
                      <img src="assets/images/icon/twitter.png" alt=""style="width: 20px;">
                    </i>
                  </a>
                </li>
                <li>
                  <a href="https://linkedin.com/" target="_blank">
                    <i>
                      <img src="assets/images/icon/linkedin.png" alt=""style="width: 20px;">
                    </i>
                  </a>
                </li>
              </ul>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="trip-detail-dtext">
              برنامه آموزشی بازاریابی باید با ارزیابی نیازهای آموزشی شما آغاز گردد. به‌طور کلی این نیازها در مناطقی که شما در آن عملکرد ضعیفی دارید بیشتر نمایان می‌شوند. به‌طور مثال اگر میزان وفاداری مشتریان به کسب و کار کاهش بیابد یا فروشنده‌ای قادر به فروش در اندازه استاندارد و معمول نباشد. این محدوده‌ها همچنین شامل فرصت‌ها و تغییرات نیز می‌شوند.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="single-team-member col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image2"></div>
            <mat-card-title class="trip-dest-dtext">توماس میلنر</mat-card-title>
            <mat-card-subtitle class="trip-date-dtext">معاونت</mat-card-subtitle>
            <div class="team-content">
              <div class="team-social">
                <a href="#" class="control">
                  <i>
                    <img src="assets/images/icon/share.png" alt="" style="width: 20px;vertical-align: text-top;">
                  </i>
                </a>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/facebook.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/instagram.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/twitter.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="https://linkedin.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/linkedin.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </mat-card-header>
          <mat-card-content>
            <p class="trip-detail-dtext">
              نگرش رفتاری (مدیریت) که بر این مبنا استوار بود که مدیرانی که روابط انسانی خوبی در محیط کار برقرار می‌کنند، می‌توانند به بهره‌وری دست یابند. به علاوه، جنبش روابط انسانی مرحله‌ای را ایجاد کرد که تکامل یافتهٔ آن امروز به‌عنوان رشتهٔ رفتار سازمانی، یعنی مطالعهٔ افراد و گروه‌ها در سازمان مطرح است.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="single-team-member col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image3"></div>
            <mat-card-title class="trip-dest-dtext">لوکاس هیث</mat-card-title>
            <mat-card-subtitle class="trip-date-dtext">کارشناس</mat-card-subtitle>
            <div class="team-content">
              <div class="team-social">
                <a href="#" class="control">
                  <i>
                    <img src="assets/images/icon/share.png" alt="" style="width: 20px;vertical-align: text-top;">
                  </i>
                </a>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/facebook.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/instagram.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/twitter.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="https://linkedin.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/linkedin.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </mat-card-header>
          <mat-card-content>
            <p class="trip-detail-dtext">
              استراتژی‌ها و خط مشی‌های سازمانی توسط رئیس سازمان، مدیر کل و معاونین تدوین می‌گردند. مدیری که در نقش‌های عملیاتی و میانی بوده می‌تواند به مدیریت عالی راه یابد. بخش اعظم کار مدیران عالی از نظر پویایی و مشغله نظیر کار مدیران عملیاتی می‌باشد.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="single-team-member col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image4"></div>
            <mat-card-title class="trip-dest-dtext">جاسپر هوک</mat-card-title>
            <mat-card-subtitle class="trip-date-dtext">کارشناس</mat-card-subtitle>
            <div class="team-content">
              <div class="team-social">
                <a href="#" class="control">
                  <i>
                    <img src="assets/images/icon/share.png" alt="" style="width: 20px;vertical-align: text-top;">
                  </i>
                </a>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/facebook.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/instagram.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/twitter.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="https://linkedin.com/" target="_blank">
                      <i>
                        <img src="assets/images/icon/linkedin.png" alt=""style="width: 20px;">
                      </i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </mat-card-header>
          <mat-card-content>
            <p class="trip-detail-dtext">
              محوریت بحث نظریه‌های مدیریت کلاسیک دستیابی به حداکثر کارایی در سازمان است. کلاسیک‌ها به سازمان رسمی توجه داشتند و وجود سازمان غیررسمی را مضر می‌دانستند. دیدگاه‌های کلاسیک شامل نگرشی صرفاً مکانیکی به سازمان و افراد بوده‌است. کلاسیک‌ها انسان را همردیف با سایر عناصر تولید می‌دانستند و برایش هویت مستقل قائل نبودند.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</section>
