<!--<div class="preloader">-->
<!--  <div class="lds-ripple">-->
<!--    <div class="pl-spark-1 pl-spark-2"></div>-->
<!--  </div>-->
<!--</div>-->



<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>خدمات</h2>
      <ul>
        <li>
          <a href="index.html">
            خانه
          </a>
        </li>
        <li class="active">خدمات</li>
      </ul>
    </div>
  </div>
  <div class="shape shape-1">
    <img src="assets/images/page-title-shape-1.png" alt="Image">
  </div>
  <div class="shape shape-2">
    <img src="assets/images/page-title-shape-2.png" alt="Image">
  </div>
</div>


<section class="success-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>ما خدمات حمل و نقل و تدارکات را برای ارائه موفقیت مشتری ارائه می دهیم</h2>
      <p>
        صداقت، تجربه و تلاشمان را برای رضایتتان به کار میگیریم زیرا ما عاشق کاری هستیم که برای شما انجام می دهیم.
      </p>
    </div>
  </div>
</section>

<section class="services-area bg-color pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span>خدمات حمل و نقل</span>
      <h2>چه کاری میتونیم براتون انجام بدیم</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services">
            <img src="assets/images/services/services-1.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services">
              ترانزیت
            </a>
          </h3>
          <p style="text-align: justify">
            سرويس مستقيم به كشورهاي روسيه ، اكراين ، بلاروس و كشور هاي CIS و بالعكس.
          </p>
          <a href="/services" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services">
            <img src="assets/images/trucking/trucking-services-index.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services">
              خرده بار
            </a>
          </h3>
          <p style="text-align: justify">
            سرويس مستقيم و خرده بار از اروپا و تركيه به ايران و بالعكس، به نمايندگي شركت KEY LINE.          </p>
          <a href="/services" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services">
            <img src="assets/images/trucking/trucking-services-index3.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services">
              صادرات
            </a>
          </h3>
          <p style="text-align: justify">
            ترانزيت از طريق بنادر جنوبي به كشورهاي آسياي ميانه و گمركات داخلي کشور و همچنین انجام امور مربوط به صادرات.          </p>
          <a href="/services" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-services-box">
          <a href="/services">
            <img src="assets/images/trucking/trucking-services-index2.jpg" alt="Images">
          </a>
          <h3>
            <a href="/services">
              واردات
            </a>
          </h3>
          <p style="text-align: justify">
            حمل و نقل ريلي از تركيه و كشورهاي CIS به ايران و بالعكس با بهترين پيشنهاد قيمت ، يكي ديگر از خدمات اين شركت مي باشد.          </p>
          <a href="/services" class="read-more">
            ادامه خواندن
            <i class="ri-add-circle-fill"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="logistics-solutions-area logistics-solutions-area-style-two pt-100 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="logistics-solutions" style="text-align: center;">
          <h2>
            شرکت حمل و نقل بین شهری
آماده خدمت گذاری به تمام استان ها
          </h2>
          <span style="font-size: x-large;color: black;margin-top: 100px;">
            فرقی ندارد شما در کدام شهر و یا استان کشور ایران هستید و مقصد بار شما چقدر از مبدا فاصله دارد. برای هر شهری، شرکت حمل و نقل بین شهری وزمه آماده خدمت گذاری است تا بار شما را از مبدا به مقصد برساند. 
          </span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class=" bg-2">
          <img src="../../../assets/images/iran.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
