<!--<div class="preloader">-->
<!--  <div class="lds-ripple">-->
<!--    <div class="pl-spark-1 pl-spark-2"></div>-->
<!--  </div>-->
<!--</div>-->


<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>بازخورد مشتریان</h2>
      <ul>
        <li>
          <a href="index.html">
            خانه
          </a>
        </li>
        <li class="active">بازخورد مشتریان</li>
      </ul>
    </div>
  </div>
  <div class="shape shape-1">
    <img src="assets/images/page-title-shape-1.png" alt="Image">
  </div>
  <div class="shape shape-2">
    <img src="assets/images/page-title-shape-2.png" alt="Image">
  </div>
</div>


<section class="testimonials-area ptb-100">
  <div class="container">
    <div class="section-title">
      <span>بازخورد مشتریان</span>
      <h2>آنچه مردم درباره ما می گویند</h2>
    </div>
    <div class="testimonials-slider owl-carousel owl-theme">
      <div class="single-testimonials">
        <i class="ri-double-quotes-l"></i>
        <p>“ لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.”</p>
        <img src="assets/images/testimonials/testimonials-1.jpg" alt="Images">
        <div class="testimonials-title">
          <h3>کارول مکدونالد</h3>
          <span>مدیریت</span>
        </div>
      </div>
      <div class="single-testimonials">
        <i class="ri-double-quotes-l"></i>
        <p>“ لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.”</p>
        <img src="assets/images/testimonials/testimonials-2.jpg" alt="Images">
        <div class="testimonials-title">
          <h3>کارول مکدونالد</h3>
          <span>مدیریت</span>
        </div>
      </div>
      <div class="single-testimonials">
        <i class="ri-double-quotes-l"></i>
        <p>“ لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.”</p>
        <img src="assets/images/testimonials/testimonials-2.jpg" alt="Images">
        <div class="testimonials-title">
          <h3>کارول مکدونالد</h3>
          <span>مدیریت</span>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="testimonials-area-style-two pb-70">
  <div class="container">
    <div class="section-title">
      <span>بازخورد مشتریان</span>
      <h2>آنچه مردم درباره ما می گویند</h2>
    </div>
    <div class="testimonials-slider-two owl-carousel owl-theme">
      <div class="single-testimonials-box">
        <div class="testimonials-img">
          <img src="assets/images/testimonials/testimonials-3.jpg" alt="Image">
          <div class="testimonials-mane">
            <h3>کارول مکدونالد</h3>
            <span>مدیریت</span>
          </div>
        </div>
        <ul>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
        </ul>
        <p>“ لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.”</p>
      </div>
      <div class="single-testimonials-box">
        <div class="testimonials-img">
          <img src="assets/images/testimonials/testimonials-4.jpg" alt="Image">
          <div class="testimonials-mane">
            <h3>کارول مکدونالد</h3>
            <span>مدیریت</span>
          </div>
        </div>
        <ul>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
        </ul>
        <p>“ لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.”</p>
      </div>
      <div class="single-testimonials-box">
        <div class="testimonials-img">
          <img src="assets/images/testimonials/testimonials-3.jpg" alt="Image">
          <div class="testimonials-mane">
            <h3>کارول مکدونالد</h3>
            <span>مدیریت</span>
          </div>
        </div>
        <ul>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
          <li>
            <i class="ri-star-fill"></i>
          </li>
        </ul>
        <p>“ لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.”</p>
      </div>
    </div>
  </div>
</section>

