<div class="container">
    <mat-form-field appearance="standard" class="w-50">
        <mat-label>فیلتر</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="عبارت مورد نظر را وارد کنید" #input />
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column.columnDef"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ column.header }}
          </th>
          <ng-container *matCellDef="let row" >
            <td mat-cell
             *ngIf="column.columnDef!='accept' && column.columnDef!='reject'
               && column.columnDef!='delete'  && column.columnDef!='detail'">
              {{ column.cell(row) }}
            </td>
            <td mat-cell *ngIf="column.columnDef=='detail'">
              <div class="row col-sm-12">
                <div class="col-12 px-2">
                  <button class="btn btn-danger col-12 btn-sm " (click)="openDetailModal()">جزئیات بار</button>
                </div>
              </div>
              
            </td>
            <td class="row" mat-cell *ngIf="column.columnDef=='reject'">
              <button class="btn btn-danger btn-sm col-sm-6">لغو</button>
              <button class="btn btn-danger btn-sm col-sm-6"
              (click)="openDetailModal()">جزئیات بار</button>
            </td>
            <td class="row" mat-cell *ngIf="column.columnDef=='delete'">
              <button class="btn btn-danger btn-sm col-sm-6">حذف</button>
              <button class="btn btn-danger btn-sm col-sm-6"
              (click)="openDetailModal()">جزئیات بار</button>
            </td>
          </ng-container>
          
          
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            موردی برای  "{{ input.value }}" پیدا نشد
          </td>
        </tr>
      </table>
      
</div>